@import url("theme.css");

html[data-theme="dark"],
html[data-theme="light"] a:hover {
  color: #fd7014;
}

html[data-theme="light"],
html[data-theme="dark"] {
  --pst-font-size-base: none;
  --pst-color-secondary: #fd7014;
}
