name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '>=1.25.4'

      - uses: j178/prek-action@v1
        with:
          extra-args: --all-files

  test:
    needs: [prek]
    name: "build (py ${{ matrix.python-version }} on ${{ matrix.os }})"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.11"
          - "3.13"
    env:
      GWKOKAB_NIGHTLY_BUILD: 1
      XLA_FLAGS: "--xla_force_host_platform_device_count=8"
      JAX_TRACEBACK_FILTERING: "off"
      JAX_ENABLE_X64: 1
      JAX_PLATFORMS: "cpu"
      JAX_ARRAY: 1
      PY_COLORS: 1

    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
      - name: Install the project
        run: uv sync --all-extras --dev
      - name: Run tests
        run: |
          uv run pytest tests
      - name: Run build
        run: GWKOKAB_NIGHTLY_BUILD=0 uv build

  documentation:
    needs: [prek]
    name: Documentation
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        python-version:
          - "3.11"
    env:
      GWKOKAB_NIGHTLY_BUILD: 1
      XLA_FLAGS: "--xla_force_host_platform_device_count=8"
      JAX_TRACEBACK_FILTERING: "off"
      JAX_ENABLE_X64: 1
      JAX_PLATFORMS: "cpu"
      JAX_ARRAY: 1
      PY_COLORS: 1
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv venv
          source .venv/bin/activate
          uv pip install -r docs/requirements.txt
          pip freeze
      - name: Test documentation
        run: |
          uv run pytest docs --tb=short --doctest-glob='*.md' --doctest-glob='*.rst' --doctest-continue-on-failure
